PL_MVC/Connected Services/ServiceEmpleado/Empleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Empleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60701/Empleado.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60701/Empleado.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60701/Empleado.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:60701/Empleado.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60701/Empleado.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:60701/Empleado.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleado_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_AddEF_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEF" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_AddEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEFResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_UpdateEF_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEF" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_UpdateEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEFResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_DeleteEF_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEF" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_DeleteEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEFResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpleado">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/GetAll" message="tns:IEmpleado_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/GetAllResponse" message="tns:IEmpleado_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/GetById" message="tns:IEmpleado_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/GetByIdResponse" message="tns:IEmpleado_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/AddEF" message="tns:IEmpleado_AddEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/AddEFResponse" message="tns:IEmpleado_AddEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/UpdateEF" message="tns:IEmpleado_UpdateEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/UpdateEFResponse" message="tns:IEmpleado_UpdateEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/DeleteEF" message="tns:IEmpleado_DeleteEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/DeleteEFResponse" message="tns:IEmpleado_DeleteEF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpleado" type="tns:IEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEF">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/AddEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEF">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/UpdateEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEF">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/DeleteEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empleado">
    <wsdl:port name="BasicHttpBinding_IEmpleado" binding="tns:BasicHttpBinding_IEmpleado">
      <soap:address location="http://localhost:60701/Empleado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>